<h3>Certificates of attendance can be requested after the training week.</strong></h3>

<img src="{{site.baseurl}}/assets/images/wrapup/cert.gif" alt="icon of a certificate" width="10%"/>



<p>
<strong><h4>In order to obtain a certificate please make sure to:</h4></strong>
  <ol>
  <li> Keep all your <strong> Galaxy histories </strong> </li>
     <ul><li>We will ask you to provide links to the histories for all sessions you followed</li></ul>
  <li>Answer the <strong>icebreakers question</strong> on Slack every day</li>
  <li>Be active on <strong>Slack</strong>!</li>
     <ul>
      <li>Let us know when you are <strong>starting with a session</strong> in the session's dedicated Slack channel</li>
      <li> <strong>Talk about the session</strong>! Get stuck? Have a question about the science? want to discuss anything? do it in Slack!</li>
      <li> Whenever you <strong>finish a session</strong>, let us know on Slack that you have completed the tutorial, and let us know what you thought of it!</li>
     </ul>
  </ol>
</p>

<p>
<strong>NOTE:</strong> You can follow as few or as many training sessions as you want, we will give you a <strong>personalized certificate</strong> listing all the sessions you attended.
</p>
