<h3>Certificates of attendance can be requested after the training week.</strong></h3>

<br>
<p>
<strong><h5>Requirements</h5></strong>
  <ol>
  <li> Have a registration for the GCC2021 Training Week </li>
  <li> Keep all your <strong> Galaxy histories </strong> </li>
     <ul>
         <li> We will ask you to provide links to the histories for all sessions you followed</li>
         <li> If a tutorial does not create a Galaxy history (e.g. developer training), keep any other outputs you may create during the training session</li>
     </ul>
  <li>Answer the dailiy <strong>icebreakers question</strong> on Slack every day</li>
  <li>Be active on <strong>Slack</strong>!</li>
     <ul>
      <li> <strong>Join the Slack channels</strong> for every training session you follow this week (links under "supporting materials" at the bottom of each session) </li>
      <li> Let us know when you are <strong>starting with a session</strong> in the session's dedicated Slack channel</li>
      <li> <strong>Talk about the session</strong>! Get stuck? Have a question about the science? want to discuss anything? do it in Slack!</li>
      <li> Whenever you <strong>finish a session</strong>, let us know on Slack that you have completed the tutorial, and let us know what you thought of it!</li>
     </ul>
  </ol>
</p>

<p> <strong>NOTE:</strong> You can follow as few or as many training sessions as you want, we will give you a <strong>personalized certificate</strong> listing all the sessions you attended. </p>

<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/wrapup/cert.gif" alt="Icon of a Certificate" width="75%">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">Request now!</h5>
    <p class="card-text">
      Please fill in this this <a href="https://forms.gle/EuQwp8aH6MeGAZ7W9">Certificate Request Form</a>
    </p>
    <p class="card-text">
      <strong>Deadline: </strong> no later than <strong>July 11, 2021</strong>.
    </p>
     <p class="card-text">
      <strong>Note: </strong> only fill in this form when you have completed all the training session you want to.
    </p>
   </div>
  </div>
 </div>
</div>



