<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="width: calc(1000px - (30px * 2)); padding-left:30px">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link {% if page.track == "science" %}active" aria-current="page"{% else %}"{% endif %} href="{{site.baseurl}}science-track/">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.track == "dev" %}active" aria-current="page"{% else %}"{% endif %} href="{{site.baseurl}}dev-track/">Dev</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.track == "admin" %}active" aria-current="page"{% else %}"{% endif %} href="{{site.baseurl}}admin-track/">Admin</a>
        </li>

	  <!--
        <li class="nav-item">
           <a class="nav-link {% if page.track == "instructors" %}active" aria-current="page"{% else %}"{% endif %} href="{{site.baseurl}}for-instructors.html">Instructors</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link {% if page.track == "speaker" %}active" aria-current="page"{% else %}"{% endif %} href="{{site.baseurl}}for-speakers.html">Speaker Info</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link {% if page.track == "recording" %}active" aria-current="page"{% else %}"{% endif %} href="recording.html">recording</a>
        </li>
      -->
      </ul>
    </div>
  </div>
</nav>
