{% assign inst_keys = "" | split: ',' %}
{% for x in site.data.instructors %}
     {% assign inst_keys = inst_keys | push: x[0] %}
{% endfor %}
{% assign n = inst_keys | size %}
{% assign inst_keys2 = inst_keys | sample: n %}

<div class="hall-of-fame">
	{% for username in inst_keys2 %}
		{% assign instructor = site.data.instructors[username] %}
		{% if username != "awspolly" %}
		<div class="hall-of-fame-hero" id="{{ username }}">

            {% if instructor.photo %}
          	<img src="{{site.baseurl}}/{{site.image_dir}}/instructors/{{instructor.photo}}" alt="{{ username }}">
            {% else %}
			<img src="https://avatars.githubusercontent.com/{{ username }}" alt="{{ username }}">
            {% endif %}
			<div class="name">
				{{ instructor.name | default: username }}
			</div>
			<div class="affil">
			{% assign affil = instructor.affiliation %}
				<a href="{{ site.data.affiliations[affil].link }}">
					{{ site.data.affiliations[affil].name }}
				</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>
