
<!-- feedback -->
<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/wrapup/feedback.png" alt="feedback pictogram" width="75%">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">Feedback Survey</h5>
    <p class="card-text">
     <br/><strong> Please take a moment to fill out this feedback survey </strong>. This helps use improve this event in the future.
    </p>
    <p>Survey (~5 minutes): <a href="{{site.feedback_survey_link}}">Click here!</a></p>
   </div>
  </div>
 </div>
</div>

<br/><br/>



<!-- Certificates -->
<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/wrapup/cert.gif" alt="certificate image" width="75%">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">Course Certificates</h5>
    <p class="card-text">
     <br/><strong> Do you require a certificate for this course?</strong>
     Please fill out this <a href="https://forms.gle/EuQwp8aH6MeGAZ7W9">Certificate Request Form</a> to obtain a certificate of attendance.
    </p>
    <p>You do not need to complete everything to receive a certificate. In the request form you will be able to indicate which parts you followed. We will also ask you to provide links to your Galaxy histories.</p>
   </div>
  </div>
 </div>
</div>

<br/><br/>




