---
layout: page
---

<a href="{{site.baseurl}}/workshop"><button type="button" class="btn btn-warning btn-lg">Welcome! This page is not ready yet, training will start June 28, 2021.</button></a> <br/>

Welcome everybody, and thank you for joining the GCC training week! <br/><br/>

Everything you need for this course can be found on this webpage. More information including
links to all training materials can be found by clicking on each session.

<br/><br/>

{{ content }}

<br/>

{% if page.toc %}
<h3> Training Modules </h3>

Scroll down to see all available tutorials, or jump directly to a module:
<ul>
{% for day in site.data.training_sessions_science %}
{% unless day[1].subday %}
<li> <a href="#{{day[1].title| slugify}}">{{day[1].title}}</a></li>
{% endunless %}
{% endfor %}
</ul>
{% endif %}

<br/>

<b>Note:</b> Problems viewing this page? Try the <a href="{{site.baseurl}}/{{ page.track }}-simpleview">simple view</a> instead.

{% if page.track == "admin" %}
  {% assign sessions = site.data.training_sessions_admin %}
{% elsif page.track == "dev" %}
  {% assign sessions = site.data.training_sessions_dev %}
{% elsif page.track == "science" %}
  {% assign sessions = site.data.training_sessions_science %}
{% endif %}

{% for day in sessions %}
 {% assign daynum = day[0] %}

{% if day[1].subday %}
<h4 class="daystart" style="margin-top:2em;"> {{day[1].title}} </h4>
{% else %}
<h2 id="{{ day[1].title | slugify }}" class="daystart" style="margin-top:2em;"> {{day[1].title}} </h2>
{% endif %}
<p> {{day[1].description | markdownify }} </p>
<div class="accordion" id="accordion{{daynum}}">

{% for session in day[1].sessions %}
 <div class="accordion-item">
  <h2 class="accordion-header" id="heading{{daynum}}{{forloop.index0}}">
   <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{daynum}}{{forloop.index0}}" aria-expanded="true" aria-controls="collapse{{daynum}}{{forloop.index0}}">
        {{session.name}}
   </button>
  </h2>
  <div id="collapse{{daynum}}{{forloop.index0}}" class="accordion-collapse collapse {% if session.show  %}show{% endif %}" aria-labelledby="heading{{daynum}}{{forlop.index0}}" data-bs-parent="#accordion{{daynum}}">
   <div class="accordion-body">

   <!-- icebreaker -->
   {% if session.type == 'icebreaker' %}{% include icebreaker.html prompt=session.prompt example=session.example %}{% endif %}


   <!-- setup -->
   {% if session.includefile %}
    {% include {{session.includefile}} %}
   {% endif %}

   <!-- wrapup -->
   {% if session.type == 'wrapup' %}
    {% include wrapup.html %}
   {% endif %}

    <!-- wrapup -->
   {% if session.type == 'post-event' %}
    {% include post-event.html %}
   {% endif %}


   {% if session.type == 'custom' %}
     {{session.description| markdownify}}
   {% endif %}

   <!-- session description
   {% if session.description %}
   <h3>Description</h3>
   <p> {{ session.description }} </p>
   {% endif %}
   -->

   <!-- speaker and video -->
   {% if session.videos %}
   {% include video-session.html session=session %}
   {% else %}
   {% unless session.type == 'icebreaker' or session.type == 'custom' %}{% unless session.type == 'setup' %}{% unless session.type == 'wrapup' %}{% unless session.type == 'post-event' %}
   <h3 class="session-section"> Self-Study Tutorial </h3>
   {{session.description| markdownify}}

   {% include selfstudy-session.html session=session %}
   {% endunless %}{% endunless %}{% endunless %}{% endunless %}
   {% endif %}

   <!-- supported servers -->
   {% include server_support.html material=session.material %}

   <!-- session links  -->
   {% unless session.type == 'icebreaker' or session.type == 'custom' %}{% unless session.type == 'setup' %}{% unless session.type == 'wrapup' %}{% unless session.type == 'post-event' %}

   <!-- list supporting materials -->
   <h3 class="session-section">Supporting Materials </h3>
   {% include session_materials.html session=session %}

   <!-- instructors online for support -->
   {% if session.instructors %}
    <h3 class="session-section">Instructors</h3>
    The following instructors are available online this week for support for this session:
    {% include speakers.html speakers=session.instructors gtn=true %}
   {% endif %}

   {% endunless %}{% endunless %}{% endunless %}{% endunless %}

   <!-- end session links -->

   </div><!-- end accordion body -->
  </div><!-- end collapse -->
 </div><!-- end accordion item (training session) -->
 {% endfor %}

</div><!-- end accordion (day) -->

{% endfor %}


<br/><br/><br/>

<h2> Acknowledgements</h2>

This Global Galaxy course is only possible thanks to a Global network of instructors and institutes.

<br/><br/>

<h3> Presenters & Instructors & Facilitators & Community Caption Contributors </h3>

{% include hof.html %}

<h3> Institutions </h3>

{% include institutions.html %}
